@import "./variables";

.main-container{
    @include flex-box(row, center, flex-start);
    width: 100%;
    height: 100vh;
    position: absolute;
    top:10px;
    left:10px;
    z-index: 1;
    backdrop-filter: blur(2px) saturate(80%);
    
}

.create-container{
    @include flex-box(column, flex-start, center);
    
    border:1px solid $primary;
    padding: 16px;
    border-radius: 8px;
    background-color: black;
    height: 80vh;
    box-shadow: 2px 2px 8px rgb(23, 22, 23);
    
}

.create-button{
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
    margin-bottom: 2px;
    margin-left: 16px;
    width:80px;
    font-weight: bold;
}

.create-message{
    width:500px;
    background-color:transparent;
    color:rgb(255, 255, 255);
    font-size: 16px;
    border: .5px solid $primary;
    border-radius: 4px;
    outline: none;
    resize: none;
}

.fileIcon{
    margin: auto;
    margin-top:1.5rem;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.error{
    position: absolute;
    color:$danger;
    margin-right:auto ;
    padding-bottom: 16px;
}

.image-preview{
    width:500px;
    height: 250px;
    margin-top:3rem;
    border: 1px solid $primary;
    border-radius: 4px;
    object-fit: fill;
}

.message-container{
    position: relative;
}

.image-container{
    position: relative;
}

.icon{
    margin:0 8px 0 0;
}

@media screen and (max-width:$layout-breakpoint-medium) {
    .image-preview{
        width:300px;
        height: 200px;
    }
    .create-message{
        width: 300px;
    }
}